/* Block: story-page */
.story-page {
  @apply h-[700px] bg-neutral-600 text-white relative flex flex-col items-center justify-center;
}

/* Block: story-header */
.story-header {
  @apply w-full p-4 flex justify-between items-center bg-gray-900 absolute top-0 left-0;
}

.story-header__info {
  @apply flex items-center space-x-2;
}

.story-header__image {
  @apply rounded-full;
}

.story-header__title {
  @apply text-sm font-bold;
}

.story-header__timestamp {
  @apply text-xs text-gray-400;
}

.story-header__close {
  @apply text-white text-2xl font-bold;
}

/* Block: story-viewer */
.story-viewer {
  @apply relative w-[360px] h-[580px] mt-12 rounded-md flex items-center justify-center bg-black;
}

.story-viewer__content {
  @apply relative w-full h-full;
}

.story-viewer__image {
  @apply rounded-lg;
}

.story-viewer__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000036;
  /* z-index: 10; */
}

.story-viewer__progress {
  @apply absolute top-0 left-0 w-full flex items-center space-x-2 py-2 px-4 rounded-3xl overflow-hidden;
}

.story-viewer__controls {
  @apply absolute bottom-4 w-full flex justify-center space-x-4 px-4;
}

.story-viewer__input {
  @apply w-4/5 py-3 px-5 shadow text-[0.9rem] rounded-full bg-white/10 text-white focus:outline-none;
  border: 1px solid #fff;
}

.story-viewer__button {
  @apply text-white;
}

/* Block: progress-bar */
.progress-bar {
  @apply flex space-x-0.5 flex-1;
}

.progress-bar__item {
  @apply flex-1 h-1 bg-gray-500 relative overflow-hidden;
}

.progress-bar__fill {
  @apply h-full bg-white;
}

.progress-bar__fill--active {
  @apply h-full bg-white;
  animation: fillProgress 15s linear forwards;
}

/* Block: nav-button */
.nav-button {
  @apply absolute top-1/2 -translate-y-1/2 bg-black/50 rounded-full w-[30px] h-[30px] flex items-center justify-center cursor-pointer;
}

.nav-button--prev {
  @apply left-2;
}

.nav-button--next {
  @apply right-2;
}

/* Block: play-pause-button */
.play-pause-button {
  @apply bg-black/50 rounded-full w-6 h-6 flex items-center justify-center cursor-pointer;
}

/* Custom Animation */
@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}